*{
	margin:0;
	padding:0;
	user-select:none;
}
body{
	perspective:1600px;
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background-image:linear-gradient(120deg,#40b3ff,#d97aff);
}

p{
	font-size:1.3em;
}

.card{
    
    position: relative;
    /* 这个属性也要好好看看 */
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; /* Safari and Chrome */
    width: 300px;
    height: 450px;
    cursor: pointer;
    border-radius: 30px;transition: 0.7s cubic-bezier(.71,-0.37,.58,1.29)  ;
    /* animation: rotate-reverse cubic-bezier(.71,-0.37,.58,1.29) 1s forwards; */
}

.card:hover{
        box-shadow: 1px 1px 10px rgba(0,0, 0, 0.5);
        
        transform: rotateY(180deg);
    /* animation: rotate cubic-bezier(.71,-0.37,.58,1.29) 0.5s forwards; */
}


.card:active{
	animation:rotate 1s cubic-bezier(.76,-0.51,.29,1.5) forwards;
}
.card_front,.card_back{
	width:100%;
	height:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:column;
	border-radius:30px;
	background-color:#fff;
}



.card_front{
	position:absolute;
}

.card_back{
	transform-style:preserve-3d;
	transform:rotateY(180deg);
}
@keyframes rotate{
	0%{
		transform:rotateY(0deg);
	}
	100%{
		transform:rotateY(180deg);
	}
}
@keyframes rotate-reverse{
	100%{
		transform:rotateY(0deg);
	}
	0%{
		transform:rotateY(180deg);
	}
}